* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 190px;
    background-color: rgb(17, 17, 83);
    color: white;
}
h1,
h2 {
    text-align: center;
}
img {
    display: block;
    /* height: 100px; */
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
    font-size: 20px;
}
p {
    text-align: center;
    font-size: 30px;
  }
  .card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid rgb(21, 5, 110);
    box-shadow: 5px 10px #222435;
  }
.emphasis {
    font-weight:bold
}